{% comment %} {% extends "base.html" %} {% endcomment %}
{% block content %}

<div class="details-box">
    <a href="{% url 'eventFinderApp:event' event.id %}">
        <p>title: {{ event.title }}</p>
       
        <p>venue: {{ event.venue }}<p>
        <p>categories: 
            {% for cat in event.categories.all %}
                {{ cat }}
                {% if not forloop.first and not forloop.last %}
                    ,
                {% endif %}
            {% endfor %}
        </p>
        <br>
        <h4>start: {{ event.start_time }}</h4>
        <h4>end: {{ event.end_time }}</h4>
    </a>
</div>


<button type="submit">
<h5> edit event? </h5>
</button>
<br>
<br>

{% comment %} 
<div class="container">
    <form method="post" >
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
    <br>
</div> {% endcomment %}


</div>


{% endblock %}